
body{
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}
.main-container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 2%;
    margin: 10% auto;
    width: 50%;
    padding-bottom: 200px;
   
   
    

}
.product-type{
    font-weight: lighter;
    padding-top: 40px;
}
.product-main{
    margin-left: 300px;
    height: 362px;
}
.product-image{
    width:375px;
    float: left;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    margin-right: 20px;
}
.product-text {
    font-size: 16px;
    width: 80%;
}

.product-name{
    font-family: 'Fraunces', serif;
    color:  hsl(212, 21%, 14%);
    text-align: left;
    width: 80%;
    font-weight: 700;
    font-size: 2.5rem;
}
.new-price{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    display: inline-block;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    
    
}
.old-price{
    display: inline-block;
    text-decoration-line: line-through;
    margin-left: 15px;
    font-weight: lighter;
    margin-bottom: 20px;
  
}
button{
    background:    #146356;
border-radius: 11px;
padding:       20px 90px;
color:         #ffffff;
display:       inline-block;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
text-align:    center;
border-style: none;

}
.cart-icon{
    margin-right: 10px;
}